.ContactData {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    background-color: rgba(112, 59, 9, 0.34);
    border: 1px solid grey;
    box-shadow: 1px 2px 2px black;

}

@media (min-width: 600px) {
    .ContactData{
        width: 500px;
    }

}

